<div class="container box" id="descargas">
    <div class="row">
        <div class="descargas">
            <section class="info-app align-middle ">
                <h2>Una aplicación para denunciar el acoso callejero o zonas de inseguridad</h2>
                <h3>La aplicación de la Ciudad de México #ViveSeguraCDMX</h3>
               
                  <h4><a href="https://play.google.com/store/apps/details?id=mx.gob.df.inmujeres.app.vivesegura&hl=es">Play Store</a></h4>
                  <h4><a href="https://itunes.apple.com/mx/app/vive-segura-cdmx/id1136466623?mt=8">Apple Store</a></h4>
            </section>    
            
        </div>
    </div>
</div>
 