<div class="container box">
  <div class="row">
    <section id="footer">
       <div class="info-footer col-lg-12 col-md-12 col-sm-12">
         <br>
          <h2>Lineas telefónicas gratuitas donde puedo
             pedir orientación o denunciar</h2><br>
        <p> INMUJERES CDMX - U. Centro Histórico </p>
        <p> 5512-2836 ext 146 y 154</p>
        <p>PGJCDM</p>
        <p>01-800-00-PGJDF(74533)</p>
        <p>LINEAS DE LA MUJER</p>
        <p> 56581111</p>
        <p>LINEA DE EMERGENCIA</p>
        <p>911</p>
       </div>
    </section>
  </div>
</div>