<div class="container box " id="about">
  <div class="row">
    <div id="wrapper">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img [src]="images[0]" alt="Random first slide">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]" alt="Random second slide">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[2]" alt="Random third slide">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[3]" alt="Random fourth slide">
        </ng-template>
      </ngb-carousel>
    </div>
  </div><!--cierre de box-->
  <div class="row">
    <section > 
      <br>
      <h2 class="text-center">¿Quienes somos?</h2><br>
      <p>La percepción de las mujeres sobre su inseguridad en vía pública y transporte colectivo en la 
        Ciudad de México se ha incrementado en los últimos años, según la ENSU (Encuesta Nacional de 
        Seguridad Pública Urbana) la percepción de la inseguridad entre las mujeres aumentó a 81% de 
        77.5% que presentaba en marzo de 2017. Siendo la Región Oriente de la Ciudad de México entre
         las ciudades donde se tiene una mayor percepción de inseguridad con un 96.7%. </p>
      <p>  Caminar por la calle en paz,  o estar en el transporte público tranquila es un derecho, que 
        las mujeres y niñas no se sientan inseguras al caminar por la calle, suben al metro o metrobus,
         que conozcan sus derechos y los mecanismos institucionales existentes para salvaguardar  sus 
         derechos.</p>
      <p> Que la sociedad, y los hombres entiendan , concientalicen  y sensibilicen sobre la problemática
         de la inseguridad de las mujeres en la vía pública.</p>
      <p> Por eso nace Artemisa una página de Internet que reúne la información de forma amena, para que
         pueda llegar a todas las mujeres de la Ciudad que de alguna manera se sienta vulnerables al 
         salir  a sus necesidades, sea estudiar, trabajar o simplemente salir, transitar en una calle
          oscura o salir en la noche.</p>
      <p> Con esta finalidad espera que la información vertida en esta página pueda serles de alguna utilidad.</p>
      
    </section>
  </div><!--cierre de box-->
</div><!--cierre de box-->

