<div class="container box">
   <div class="row">
      <section id="violacion"> 
          <img  class="img-fluid imagen" src="../../assets/img/Artemisa(13).jpg" >
          <br><br>
          <h2 class="text-center">Violación un crimen inpume y creciente</h2>
          <p>Según informes de Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública, durante el 2017 en la Ciudad de México se 
          han realizado 802 llamadas denunciando acoso u hostigamiento sexual, 677 por violación y 462 
          por incidentes de abuso sexual.

        </p>
        <p>En el delito de violación en México durante el 2017 tres mil 576 víctimas denunciaron este delitos,
          de ellas 18.9% con de la Ciudad de México; sin embargo las personas que denuncian estos casos pasan por un duelo, es decir en algunos casos
          el delito pasó hace algunos años.
        </p>
      </section>
      <section class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 display">
              <div class="card " >
                <img class="card-img-top images mx-auto align-middle" src="../../assets/img/icono-informacion.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Información</h5>
                  <p class="card-text">¿Qué se considera una violación y cómo de diferencia del abuso sexual?</p>
                     <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal6">
                    Información
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img  class= "infografias img-fluid" src="../../assets/img/violacion-info.jpg">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 display ">
              <div class="card space">
                <img class="card-img-top images  mx-auto align-middle" src="../../assets/img/government-icon.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Instituciones</h5>
                  <p class="card-text">Algunas instituciones para conseguir ayuda</p>
                     <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal4">
                    Instutuciones
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h4>Dirección de Centro de Terapia de Apoyo a Victimas de Delitos Sexuales</h4>
                          <p>Ubicada en Calle Enrique Pestalozzi No. 1115, Colonia del Valle, Deleg. Benito Juárez, C.P. 03100. En un horario de 9:00 a 19:00 horas, de lunes a viernes, Teléfonos 52 00 96 32 y 52 00 96 33.</p>
                          <h4>Línea mujeres</h4>
                          <p>Locatel 56581111</p>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 display ">
              <div class="card space">
                <img class="card-img-top images mx-auto align-middle" src="../../assets/img/denuncia-3.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Denuncia </h5>
                  <p class="card-text">No estas sóla, aquí algunos aspectos para denunciar</p>
                     <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal5">
                    Denuncia
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img  class=" infografias img-fluid" src="../../assets/img/violacion-den.jpg">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
   </div>
</div>