<div class="container box">
  <div class="row">
 
    <section id="acoso">  <img class="img-fluid imagen" src="../../assets/img/Artemisa(11).jpg" >
      <br><br>
      <h2 class="text-center">Acoso Callejero, una violencia invisivilizada</h2>
      <p>En México, no hay muchas mediciones sobre este acto que no es considerado una violación sexual, ni como un delito. Sin embargo, un estudio del Colegio de México asegura que el 93 por ciento de las mujeres han sufrido miradas lascivas y el 50 por ciento ha sido tocada en la vía pública.</p>
      <p>Una encuesta de Parametría asegura que 7 de cada 10 mexicanos ha visto a un hombre acosar física o verbalmente a una mujer en la calle.</p>

    </section>
    <section class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 display">
            <div class="card " >
              <img class="card-img-top images  mx-auto align-middle" src="../../assets/img/icono-informacion.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Información</h5>
                <p class="card-text">Algunos datos del acoso callejero en la Cudad de México</p>
                   <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Información
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img  class= "infografias img-fluid" src="../../assets/img/acoso-info.jpg">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 display ">
            <div class="card space">
              <img class="card-img-top images  mx-auto align-middle" src="../../assets/img/government-icon.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Instituciones</h5>
                <p class="card-text">Algunas Instituciones dónde pueden ayudarte</p>
                   <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
                  Instituciones
                </button>
                <!-- Modal -->
                <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>Levanta un Reporte desde el portal de INMUJERES CDMX</h4>
                         <h5><a href="http://vivesegura.cdmx.gob.mx/">Haz tu reporte</a></h5>
                        <h4> Unidades Delegacionales de Atención a las Mujeres INMUJERES CDMX</h4>
                         <h5><a href="http://www.inmujeres.cdmx.gob.mx/asesorias/unidades-de-atencion">Directorio</a></h5>  
                        <h4>Acoso En el Metro</h4>
                         <h5>Teléfonos de información 709-1133 ext. 5051 y 5009 o 5627.4950 y 5627.4741 </h5>
                         <h5><a href="http://www.metro.cdmx.gob.mx/tramites-y-servicios/servicios/que-hacer-en-caso-de-acoso-sexual">Directorio de Unidades de Orientación de Acoso Sexual en el Metro</a></h5>
                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 display ">
            <div class="card space">
              <img class="card-img-top images  mx-auto align-middle" src="../../assets/img/denuncia-3.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">¿cómo denunciar?</h5>
                <p class="card-text">¿cuáles son los aspectos para denunciar el acoso?</p>
                   <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3">
                  Denuncia
                </button>
                <!-- Modal -->
                <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img  class=" infografias img-fluid" src="../../assets/img/acoso-den.jpg">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>
  </div>
</div>

